{% extends 'navbar.html' %}

{% block container %}
<head>
  <title>About Us</title>
  <script src="https://use.fontawesome.com/73a1b37249.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about-us.css') }}">
</head>
<body>
  
<div class="container">
  <h2>About Us</h2><br>
  <h4><b>OUR TEAM:</b> 
  The team is composed of 3 highly handsome gentlemen: Kai Stullich, Bryant Thach, and Brazil's own Lucas Da Cruz.  
  </h4>

  <h4><b>OUR DREAM:</b> 
    We have always envisioned of providing the world the most advanced electronics for the most reasonable price possible. 
    We want to be the center of all electronic needs, hence the name, <i>Centratech</i>. 
  </h4>

  <h4><b>HOW WAS CENTRATECH CREATED?</b> 
    All 3 founders were strategically placed in a class of highly skilled individuals at SJSU. 
    Like minded individuals were paired for a project by one of the world's most renowned professors: Dana Nehoran. Once paired, Centratech was formed.
  </h4><br>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-4 img-box-kai"> <!-- Main Box -->
      <div class="kai-img"> <!-- Image Box -->
        <img src="{{ url_for('static', filename='images/kai4.JPG') }}" alt="Kai Stullich">
      </div>
      <div class="kai-text"> <!-- Title Text Box -->
        <center><h3><b>Kai Stullich</b></h3></center>
        <center><h4>Lead Developer</h4></center>
        <center><h5><u><i>Follow me here:</i></u></h5></center>
      </div> 
      <div class="kai-link-img"> <!-- Link Images Box -->
        <a href="https://github.com/kaistullich">
          <img src="{{ url_for('static', filename='images/github.png') }}" alt="GitHub Logo">
        </a>
        <a href="https://www.linkedin.com/in/kai-stullich-a0697a91?trk=nav_responsive_tab_profile_pic">
          <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="LinkedIn Logo">
        </a>
        <a href="https://twitter.com/k_stullich">
          <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter Logo">
        </a>
      </div>
    </div>

    <div class="col-xs-4 img-box-lucas"> <!-- Main Box -->
      <div class="lucas-img"> <!-- Image Box -->
        <img src="{{ url_for('static', filename='images/LucasPicture.JPG') }}" alt="Lucas Da Cruz">
      </div>
      <div>
        <center><h3><b>Lucas Da Cruz</b></h3></center>
        <center><h4>CIO/Electronics Engineer</h4></center>        
      </div> <!-- Title Text Box -->
      <div></div> <!-- Link Images Box -->
    </div>

    <div class="col-xs-4 img-box-bryant"> <!-- Main Box -->
      <div class="bryant-img"></div> <!-- Image Box -->
      <div class="bryant-text"></div> <!-- Title Text Box -->
      <div class="bryant-link-img"></div> <!-- Link Images Box -->
    </div>

  </div>
</div>
<!-- START FOOTER -->
<footer>
	<div class="container text-center">
    <hr />
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ url_for('my_view.about_us') }}">About Us</a></li>
          <li><a href="{{ url_for('my_view.contact')}}">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ url_for('my_view.terms')}}">Terms of Service</a></li>
          <li><a href="{{ url_for('my_view.privacy')}}">Privacy & Legal</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ url_for('my_view.shipping')}}">Shipping Policy</a></li>
          <li><a href="{{ url_for('my_view.returns')}}">Returns & Replacement</a></li>    
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ url_for('my_view.products')}}">Products</a></li>
          <li><a href="{{ url_for('my_view.categories')}}">Categories</a></li>
        </ul>
      </div>  
    </div>
  </div>
  <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="{{ url_for('my_view.home') }}">© 2016 Centratech Electronics.</a></li>
            </ul>
        </div>
    </div>
</div>
</footer> <!-- END FOOTER -->
</body>
{% endblock %}