{% extends 'navbar.html' %}

{% block container %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/category.css') }}">
  <div class="top-pad">
    <h2>{{ category_name }}</h2>
    <div class="well" style="text-align:center;">
      {% for item in my_list %}
      <a href="{{ url_for('my_view.product', key=item[0]) }}" style="color:#337ab7; font-size:30px;">
        {{ item[1] }} - {{ item[2] }}
      </a>
      <p><b>Price:</b> ${{ item[3] }}</p>
      {% endfor %}
    </div>
  </div>
{% include 'footer.html' %}

{% endblock %}