{% extends 'navbar.html' %}

{% block container %}
<link rel="stylesheet" href="{{url_for('static', filename='css/product-delete.css') }}">
  <div class="top-pad" style="text-align: center;">
    <div class="well">
      <h2 style="color: red;">Delete Category</h2>
        <form method="POST" action="{{ url_for('my_view.category_delete') }}" role="form">
            <label for="category">Category Selection:</label>
            <select name="category">
              {% for category in categories %}
              <option value="{{ category[0] }}">{{ category[1] }}</option>
              {% endfor %}
            </select><br><br>
          <button type="submit" class="btn btn-danger">DELETE CATEGORY</button>
        </form>
       </div>
      </div>
    </div>
  </div>
{% endblock %}