{% extends 'navbar.html' %}

{% block container %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact.css') }}">
<div class="container">
  <hr>
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Contact Centratech</h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align:center">Department</th>
                        <th style="text-align:center">Department Phone Number</th>
                        <th style="text-align:center">Department Extension</th>
                        <th style="text-align:center">Department Manager</th>
                    </tr>
                </thead>
                <tbody>
                {% for department in categories %}
                <tr style="text-align: center">
                  <td> {{ department[0] }}</td>
                  <td> {{ department[1] }}</td>
                  <td> Ext. {{ department[2] }}</td>
                  <td> {{ department[3] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include 'footer.html' %}

{% endblock %}