
<!DOCTYPE html>
<html>
<head>
	<title>Centratech Electronics</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

	<!-- Optional theme -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/boostrap-theme.min.css') }}">

	<!-- My OWN stylesheet -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_page.css') }}"> 

</head>
<body>
	<header class="navbar-inverse" role="banner">
			<nav class="navbar">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <a class="navbar-brand" href="{{ url_for('my_view.home') }}">Centratech</a>
			    </div>
			    <!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
					        <li><a href="{{ url_for('my_view.products') }}">Products <span class="sr-only">(current)</span></a></li>
					        <li><a href="{{ url_for('my_view.categories') }}">Categories</a></li>
					        <li class="dropdown">
					        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Product Editing<span class="caret"></span></a>
					        <!-- Product Editing -->
					          <ul class="dropdown-menu">
						            <li><a href="{{ url_for('my_view.product_create') }}">Create Product</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a href="{{ url_for('my_view.product_edit') }}">Edit Product</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a href="#">Delete Product</a></li>
					          </ul>
					        </li>
					        <!-- Category Editing -->
					        <li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopu="true" aria-expanded="false">Category Editing<span class="caret"></span></a>
								  <ul class="dropdown-menu">
								       <li><a href="{{ url_for('my_view.category_create') }}">Create Category</a></li>
								       <li role="separator" class="divider"></li>
								       <li><a href="#">Edit Category</a></li>
								       <li role="separator" class="divider"></li>
								       <li><a href="#">Delete Category</a></li>
								  </ul>
							</li>
						<li><a href="{{ url_for('my_view.login') }}">Login</a></li>
				      </ul>
				  <!-- SEARCH FUNCTION -->
			      <form class="navbar-form navbar-left" action="{{ url_for('my_view.product_search') }}" method="GET">
			        <div class="form-group">
			        <div class="row">
					  <div class="col-lg-6">
					    <div class="input-group">
					      <div class="input-group-btn">
					        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Department <span class="caret"></span></button>
					        <ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
						        <li><a href="#">Another action</a></li>
						        <li><a href="#">Something else here</a></li>
					        </ul>
					       </div><!-- /Dropdown Button -->
					      <input type="text" name="name" class="form-control" placeholder="Search Products...">
					    </div><!-- /input-group -->
					    <button type="submit" class="btn btn-default">Submit</button>
					  </div><!-- /.col-lg-6 -->
			        </div>
			      </form><!-- END SEARCH FUNCTION -->
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
	</header>
	<div class="container">
    	{% block container %}
    	{% endblock %}
    </div>
	<!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>