{% extends 'navbar.html' %}

{% block container %}
<div class="top-pad">
	<div class="well">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/product-one.css') }}">
		    <div class="top-pad">
			    <center><img src={{ single_product[4] }} style="width:440px;height:300px"></center>
			    <h1> {{ single_product[1] }} </h1>
				<p><b>Category:</b> {{ single_product[3] }}</p>
			 	<p><b>Price:</b> ${{ single_product[2] }}</p>
			 	<p><b>Current Stock:</b> {{ single_product[5] }}</p>
			 	<center><a href="{{ url_for('my_view.product_edit', key=key) }}"><button type="submit" class="btn btn-warning">Edit this Product</button></a></center>
			</div>
	</div>
</div>
 
{% endblock %}