{% extends 'navbar.html' %}

{% block container %}
<div class="row">
  {% for product in my_list %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/products.css') }}" type="text/">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="{{ product[5] }}" alt="{{ product[2] }}">
      <div class="caption">
        <h4 style="text-align: center;">{{ product[1] }} - {{ product[2] }}</h4>
        <p style="text-align: center;"><b>Brand:</b> {{ product[1] }}</p>
        <p style="text-align: center;"><b>Price:</b> ${{ product[3] }}</p>
        <center><p><a href="{{ url_for('my_view.product', key=product[0]) }}" class="btn btn-primary" role="button">View Product</a></p></center>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}