{% extends 'navbar.html' %}

{% block container %}
<div class="container">
<div class="row">
  {% for product in my_list %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/products.css') }}" type="text/">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="{{ product[5] }}" alt="{{ product[2] }}">
      <div class="caption">
        <a href="{{ url_for('my_view.product', key=product[0]) }}">
          <b>
            <i>
              <p style="text-align: center; font-size: 20px; color: #0C6BFF">{{ product[1] }} - {{ product[2] }}</p>
            </i>
          </b>
        </a>
        <p style="text-align: center;"><b>Brand:</b> {{ product[1] }}</p>
        <p style="text-align: center;"><b>Price:</b> ${{ product[3] }}</p>
        <center><p><a href="{{ url_for('my_view.product', key=product[0]) }}" class="btn btn-primary" role="button">View Product</a></p></center>
        <center><button type="submit"><a href="{{ url_for('my_view.addToCart', key=product[0]) }}"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>Add to Cart</a></button></center>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
<!-- START FOOTER -->
<footer>
	<div class="container text-center">
    <hr />
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ url_for('my_view.about_us') }}">About Us</a></li>
          <li><a href="{{ url_for('my_view.contact')}}">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ url_for('my_view.terms')}}">Terms of Service</a></li>
          <li><a href="{{ url_for('my_view.privacy')}}">Privacy & Legal</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ url_for('my_view.shipping')}}">Shipping Policy</a></li>
          <li><a href="{{ url_for('my_view.returns')}}">Returns & Replacement</a></li>    
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ url_for('my_view.products')}}">Products</a></li>
          <li><a href="{{ url_for('my_view.categories')}}">Categories</a></li>
        </ul>
      </div>  
    </div>
  </div>
  <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="{{ url_for('my_view.home') }}">© 2016 Centratech Electronics.</a></li>
            </ul>
        </div>
    </div>
</div>
</footer> <!-- END FOOTER -->
{% endblock %}