{% extends 'navbar.html' %}

{% block container %}
<div class="container">
  <h2> Returns </h2>
    <b> What can I return? </b> 
    <div class="orc-paragraph-content"> You may return most new, unopened items sold and fulfilled by Centratech within 30 days of delivery for a full refund. During the holidays, items shipped by Centratech between November 1st and December 31st can be returned until January 31st. </div> 
   
    <b> When will I get my refund? </b> 
    <div class="orc-paragraph-content"> Usually in about 2-3 weeks. Most refunds are fully refunded in 3-5 days after we receive and process your return. </div> 

    <b> Does Centratech offer replacements and exchanges? </b> 
    <div class="orc-paragraph-content"> Yes! Just have a proof of purchase and contact us at centratech@centratech.com and a representative will assist you. </div><br>
</div>
{% include 'footer.html' %}

{% endblock %}