@import url('https://fonts.googleapis.com/css?family=Yellowtail');

.img-box-kai {
    margin-bottom: 70px;
    height: 450px;
    border: 3px solid cadetblue;
    background-color: #F1F1F1;
}

.img-box-lucas {
    margin-bottom: 70px;
    height: 450px;
    border: 3px solid cadetblue;
    background-color: #F1F1F1;
}

.img-box-bryant {
    margin-bottom: 70px;
    height: 450px;
    border: 3px solid cadetblue;
    background-color: #F1F1F1;
}

.kai-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 70px;
}

.kai-img img {
    border-radius: 50%;
    height: 208px;
    width: 223px;
}

.lucas-img {
    height: 200px;
    width: 200px;
    border: 2px solid green;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 70px;
}

.bryant-img {
    height: 200px;
    width: 200px;
    border: 2px solid green;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 70px;
}

.kai-text {
    height: 80px;
    width: 330px;
    margin-top: 20px;
    margin-left: 15px;
}

.lucas-text {
    height: 80px;
    width: 330px;
    border: 2px solid darkorange;
    margin-top: 20px;
    margin-left: 15px;
}

.bryant-text {
    height: 80px;
    width: 330px;
    border: 2px solid darkorange;
    margin-top: 20px;
    margin-left: 15px;
}

.kai-link-img {
    height: 80px;
    width: 330px;
    margin-top: 20px;
    margin-left: 15px;
    text-align: center;
    padding-top: 3px;
}

.kai-link-img img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.lucas-link-img {
    height: 80px;
    width: 330px;
    border: 2px solid blue;
    margin-top: 20px;
    margin-left: 15px;
}

.bryant-link-img {
    height: 80px;
    width: 330px;
    border: 2px solid blue;
    margin-top: 20px;
    margin-left: 15px;
}